@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Inspiration&family=Josefin+Slab:ital@0;1&family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --theme-color: #000000;
}

body {
    background-color: #213a34;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.analog-clock {
    width: 500px;
    height: 500px;
    background-color: rgb(244, 247, 247);
    border-radius: 50%;
    border: 10px ridge var(--theme-color);
    position: relative;


}

.analog-clock::before {
    content: 'TITAN';
    position: absolute;
    color: var(--theme-color);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: 'Josefin Slab', serif;

}

.analog-clock ::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--theme-color);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

}

.number {
    --rotate: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--theme-color);
    text-align: center;
    font-size: 25px;
    transform: rotate(var(--rotate));
}

.number-1 {
    transform: rotate(30deg);
}

.number-2 {
    transform: rotate(60deg);
}

.number-3 {
    transform: rotate(90deg);
}

.number-4 {
    transform: rotate(120deg);
}

.number-5 {
    transform: rotate(150deg);
}

.number-6 {
    transform: rotate(180deg);
}

.number-7 {
    transform: rotate(210deg);
}

.number-8 {
    transform: rotate(240deg);
}

.number-9 {
    transform: rotate(270deg);
}

.number-10 {
    transform: rotate(300deg);
}

.number-11 {
    transform: rotate(330deg);
}

.number::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--theme-color);
    position: absolute;
}

.needle {
    --rotation: 60;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 10px;
    height: 40%;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg));
    background-color: var(--theme-color);
    z-index: 8;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.hrs {
    width: 10px;
    height: 30%;
    background-color: var(--theme-color);
    --rotation: 90;
}

.min {
    width: 8px;
    height: 40%;
    background-color: var(--theme-color);
    --rotation: 0;
}

.sec {
    width: 5px;
    height: 42%;
    background-color: var(--theme-color);
    --rotation: 60;
}